header {
  background: linear-gradient(#580d55, #f7f8f9);
  padding: 10px 0;
}
header .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px;
}
header nav .navbar-brand {
  color: inherit;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 30px 30px 30px;
}

header #navbarNav .navbar-nav{
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 40px;

  color: #333 ;
  transition: color 0.3s;
}

header .nav-link:hover {
  color: #580d55 ;
}

header .navbar-nav {
  align-items: center;
}

footer {
  margin-top: auto;
  padding: 20px 0;
  text-align: center;
}