header .nav ul li .daily {
  color: #580d55;
  border-bottom: 2px solid #580d55;
}

.card {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15) ;
  margin:0px 100px;
}

.card-body {
  padding: 30px;
}

.card-text{
  display: flex;
  justify-content: flex-end;
  color: #666666;
  font-size: 10px;
  text-decoration: line-through;
}

.content {

  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.15) ;
  margin: 30px 100px;
  padding: 30px;
  font-size: 15px;
  color: #333333;
}

/* 上面块级代码样式 */
.card .card-body .title {
  padding-left: 0px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.card .card-body .title{
  position: inherit;
}

.card .card-body .title .link {
  margin-left: auto;
}

.card .card-body .title .red,
.card .card-body .title .orange,
.card .card-body .title .yellow,
.card .card-body .title .green,
.card .card-body .title .blue,
.card .card-body .title .purple,
.card .card-body .title .black{
  background-color: rgb(14, 29, 105);
  padding: 10px 10px;
  font-size: 14px;

}

.card .card-body .title .red{
  background-color: rgb(254, 76, 97);
}

.card .card-body .title .orange{
  background-color: rgb(243, 156, 17)
}

.card .card-body .title .yellow{
  background-color: rgb(255, 193, 22);
}

.card .card-body .title .green{
  background-color: rgb(82, 196, 26);
}

.card .card-body .title .blue{
  background-color: rgb(52, 152, 219);
}

.card .card-body .title .purple{
  background-color: rgb(156, 61, 207);
}


