main {
  min-height: calc(100vh - 200px);
  padding: 40px 0;
}

.card {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15) ;
  margin:auto 100px;
}

.card-body {
  padding: 30px;
}

.card-title {
  color: #333333;
  font-weight: 600;
  
}

.card-text {
  color: #666666;
}

.btn-primary {
  display: block;
  background-color: #007BFF;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s;
  padding: 12px 12px;
  margin: 0px 500px;
  
}


img {
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 300px;
}