header .nav ul li .register {
  color: #580d55;
  border-bottom: 2px solid #580d55;
}

.card {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15) ;
  margin: 150px auto;
  max-width: 500px;

}

.card-body {
  padding: 30px;
}

.card-title {
  margin-bottom: 30px;
  
}
.mb-3 {
  margin-bottom: 10px !important;
}

.btn-primary {
  display: flex;
  margin: auto;
  background-color: #007BFF;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s;
  padding: 12px 50px;
  
}

/* 是否合法的样式 */
.form-control {
  border: 1px solid #ced4da;
}

.form-control.is-valid {
  border-color: #3c763d;
}

.form-control.is-invalid {
  border-color: #a94442;
}

.valid-feedback,
.invalid-feedback {
  display: none;
  margin-top: 8px;
  font-size: 14px;
}

.valid-feedback {
  color: #3c763d;
}

.invalid-feedback {
  color: #a94442;
}

.form-control.is-valid ~.valid-feedback {
  display: block;
}

.form-control.is-invalid ~.invalid-feedback {
  display: block;
}